#mi_botton {
    background-color: rgb(105, 145, 158);
    color:white; /*Azul cielo profundo*/
    font-size: 16px;
    border-radius: 8px;
}

#mi_botton2 {
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    border-radius: 8px;
}

button {
    background-color:cornflowerblue;
    color: black;
    border-radius: 100%;
}

button:hover {
    background-color: blue;
    cursor:pointer;
}

/*1. Selector universal */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*2. Selector de tipo (etiqueta de html)*/

p {
    line-height:1.6;
    color:blue;
}
/*1. Selector*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}
/*1. Selector universal
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*2. selector de tipo (etiqueta de html)*/
p{
    line-height: 1.6;
    color: rgb(0, 124, 25);
    background-color: black;
}
/*3. Selector de clase (prefijo .), es reutilizable*/
.destacable{
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0 4rem 6rem -1px rgba(234, 9, 9, 0.9);

}
/* delector de id*/
#parrafo_2{

    background-color: azure;
}
/*slector descendiente
*/
nav p{
    font-size: 60px;
    padding: 1rem;
    color: rgb(255, 0, 0);
}
/* unidades de medida
1. px (pixeles): medida absoluta fija -> bordes
2. rem (Root EM): medida relativa al tamaño de la pantalla
            1rem = 16 px
3. % (Porcentaje): Relativo al tama;o de la caja del padre
4. vw/vh (viewport width/heigth): Relativo a la pantalla completa
*/